@import '../app.component.scss';

footer {
    position: static;
    margin: 0 1em 1em 0;
    width: auto;
    text-align: right;
    z-index: 5;

    a {
        position: relative;
        display: inline-block;
        margin-left: 1em;
        font-size: 24px;
        height: 48px;
        width: 48px;
        line-height: 48px;
        border-radius: 50%;
        text-align: center;
        background-color: var(--clr-forest-100);
        transition: all 400ms ease;

        svg {
            vertical-align: text-top;
            color: var(--clr-forest-500);
            transition: all 400ms ease;
        }

        &:hover {
            background-color: var(--clr-forest-500);

            svg {
                transition: all 400ms ease;
                color: white;
            }
        }
    }
}