<header>
    <h1 class="page-header">LINKS</h1>
</header>
<div class="card">
    <nav class="links-list">
        <h2>Classes</h2>
        <!-- TODO -->
        <!-- Where should these links go? CLasses page? Calendly link?-->
        <a href="https://calendly.com/cultivateyogamke/yogawithyourlittle">Yoga with Your Little</a>
        <a href="https://calendly.com/cultivateyogamke/yogaforparents">Yoga for Parents + Caregivers</a>
        <a href="https://web2.myvscloud.com/wbwsc/wimilwaukeewt.wsc/search.html?Action=Start&SubAction=&_csrf_token=5b66b9aff76e452cf906b01b3841db9d4e442399d1687e63de23fbb21928fda4&module=global&keyword=yoga+buddies&keywordoption=Match+All&spotsavailable=&dayoption=All&timeblock=&beginyear=&display=Detail&search=yes&page=1&multiselectlist_value=&globalwebsearch_buttonsearch=yes">Yoga Buddies w/ Milwaukee Rec</a>
        <hr class="divider-half">
        <h2>Events</h2>
        <a href="https://www.facebook.com/events/3096932107190182/?ref=newsfeed">Kids' Yoga in the
            Garden</a>
        <hr class="divider-half">
        <div class="socials">
            <h2>Social Media</h2>
            <a href="https://www.instagram.com/cultivateyogamke/">
                <i data-feather="instagram"></i>Instagram
            </a>
            <a href="https://www.facebook.com/cultivateyogamke">
                <i data-feather="facebook"></i>Facebook
            </a>
        </div>
    </nav>
</div>