<header>
    <h1 class="page-header">LINKS</h1>
</header>
<div class="card">
    <nav class="links-list">
        <h2>Classes</h2>
        <!-- TODO -->
        <!-- Where should these links go? CLasses page? Calendly link?-->
        <a href="">Yoga with Your Little</a>
        <a href="">Yoga for Parents + Caregivers</a>
        <a href="">Yoga Buddies w/ Milwaukee Rec</a>
        <hr class="divider-half">
        <h2>Events</h2>
        <a href="https://www.facebook.com/events/3096932107190182/?ref=newsfeed" target="new">Kids' Yoga in the
            Garden</a>
        <hr class="divider-half">
        <div class="socials">
            <h2>Social Media</h2>
            <a href="https://www.instagram.com/cultivateyogamke/">
                <i data-feather="instagram"></i>Instagram
            </a>
            <a href="https://www.facebook.com/cultivateyogamke">
                <i data-feather="facebook"></i>Facebook
            </a>
        </div>
    </nav>
</div>