<header>
    <h1 class="page-header">LINKS</h1>
</header>
<div class="card">
    <nav class="links-list">
        <h2>Current Offerings</h2>
        <!-- <a href="https://calendly.com/cultivateyogamke/yogawithyourlittle">Yoga with Your Little</a> -->
        <!-- <a href="https://calendly.com/cultivateyogamke/yogaforparents">Yoga for Parents + Caregivers</a> -->
        <!-- <a href="https://web2.myvscloud.com/wbwsc/wimilwaukeewt.wsc/search.html?Action=Start&SubAction=&_csrf_token=5b66b9aff76e452cf906b01b3841db9d4e442399d1687e63de23fbb21928fda4&module=global&keyword=yoga+buddies&keywordoption=Match+All&spotsavailable=&dayoption=All&timeblock=&beginyear=&display=Detail&search=yes&page=1&multiselectlist_value=&globalwebsearch_buttonsearch=yes">Yoga Buddies w/ Milwaukee Rec</a> -->
        <a routerLink="/classes">Yoga Together (ages 2-6)</a>
        <a routerLink="/classes">Kids Yoga (ages 8-11)</a>
        <a routerLink="/classes">Family Mindfulness Time (ages 0-6)</a>
        <a href="https://adventurerock.com/yoga/catalog/brookfield/">Yoga for Kids @ Adventure Rock - Brookfield</a>
        <a href="https://adventurerock.com/yoga/catalog/milwaukee/">Yoga for Kids @ Adventure Rock - Milwaukee</a>
        <hr class="divider-half">
        <!-- <h2>Events</h2>   
        <hr class="divider-half"> -->
        <h2>Survey</h2>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLScyeJ-cRMB07vzSMgjU9EmeY6eB5guC1VibpoLCSjTJoC2L7A/viewform?vc=0&c=0&w=1&flr=0">Survey link</a>
        
        <hr class="divider-half"/>
        <div class="socials">
            <h2>Social Media</h2>
            <a href="https://www.instagram.com/cultivateyogamke/">
                <i data-feather="instagram"></i>Instagram
            </a>
            <a href="https://www.facebook.com/cultivateyogamke">
                <i data-feather="facebook"></i>Facebook
            </a>
        </div>
    </nav>
</div>