<header>
    <h1 class="page-header">ABOUT</h1>
</header>
<div class="card bio">
    <h2 class="card-header">About Me</h2>
    <div class="bio-content">
        <div class="info">
            <p class="blurb">
                Holly Kingsbury, RYT-200, offers yoga practices for humans of all ages to cultivate mindful
                awareness,
                compassion, and connection. Her focus is on providing space for both children and adults to
                practice,
                learn, and grow together. She uses her background in school psychology and personal experiences as
                new
                parent to offer classes that focus on creating a healthy relationship with yourself, your emotions,
                and
                with others. Whether the class is for toddlers or adults you can expect a practice that honors
                yoga's
                roots and is introspective, loving, and welcoming for folks from all walks of life. Holly received
                her
                RYT-200 through Healium Yoga MKE with teachers Sarah Filzen and Meg Lucks.
            </p>
            <h3>About my journey</h3>
            <p class="blurb">
                I have always been passionate about helping kids and the adults around them find a bit more health
                and happiness. From my earliest jobs in childcare to my education in psychology and work as a school
                psychologist, I have been learning and working to support children's mental health. I chose school
                psychology in part because I recognized early on how big of an impact parents, teachers, and other
                caregivers can have on children's wellness. For 7 years I have worked with students in Milwaukee
                Public Schools, helping them to feel seen and understood and navigate the school system with a bit
                more ease. Often I worked with teachers, administrators, and parents to help solve problems when the
                adults' needs and expectations weren't aligning with the child's needs and skills. Usually what was
                needed was a bit of empathy, compassion, and patience.<br /><br />

                I learned that the tools of yoga were often some of the best ways I could help support the mental
                health of students and staff. In my personal life, I have been practicing yoga asana (physical
                poses) and mindfulness and meditation (also "yoga"!) for over 10 years. My first yoga class was at
                UW-Madison and my first experience with mindfulness was a weekly offering on Buddhist meditation on
                campus. From there I have practiced on and off, sometimes at different studios, but often from my
                home with the support of YouTube videos like Yoga with Adriene (to whom I'm grateful for, for
                offering yoga that is free and accessible and goes beyond just asana to so many people).
                <br /><br />

                In schools, I did yoga with kids in small groups and classrooms, and it was one of my favorite parts
                of my day, but I always felt I needed yoga teacher training to better understand where yoga came
                from, the "why" behind poses and sequences, and to better understand anatomy. This led me to my
                200-hour yoga teacher training with Helium Yoga with teachers Sarah Filzen and Meg Lucks, which I
                completed in June 2022.<br /><br />

                I became a parent myself during the pandemic, not long before my yoga teacher training began. I've
                always felt that one way to deeply impact children's lives is by supporting and offering strategies
                to parents and caregivers, but now that I'm a parent myself I have a whole new appreciation and
                understanding of what it means to be a parent, and a stronger calling to support parents in the
                difficult, joyous, learning journey of raising a child. <br /><br />

                I'm so excited to start this new chapter as a yoga teacher. Let's grow together and do the work of
                cultivating love, joy, and mindfulness so that we can create the conditions to allow our children -
                and ourselves - to grow into the healthy, thriving humans we were meant to be.

            </p>
        </div>
        <img class="card-photo" src="../../assets/bio_1.jpg" loading="lazy" />
    </div>
</div>
<div class="card bio">
    <h2 class="card-header">Why Cultivate</h2>
    
    <div class="bio-content">
    <div class="info">
        <p class="blurb">
            I love the concept of "cultivating" on so many levels. I realized I wanted to use this metaphor when
            I was reading a book on mindful parenting (Everyday Blessings by Myla and Jon Kabat Zin) at the same
            time as I was reading a book on yoga philosophy (How Yoga Works by Geshe Michael Roach). How Yoga
            Works talks a lot about this idea of "planting seeds" in our minds, and how our actions and thoughts
            today grow into habits, ways of being, and patterns of thinking that completely shape our
            perceptions of the world, and thus shape how we move through the world. As a school psychologist,
            I've thought a lot about how deeply our behavior is based on which thoughts and actions/habits we
            "water" and how we can spend our time growing beautiful, healthy plants or we can accidentally be
            growing harmful invasive weeds without even realizing it. At the same time, in Everyday Blessings I
            was reading about how parenting is like cultivating plants, rather than like modeling clay. We get
            these beautiful, unique, perfectly whole and capable "seeds" of newborn babies, and our job as
            parents is to offer supportive growing conditions - sunlight, water, healthy and nutrient-rich soil
            - to allow that seed to grow into the healthy, thriving plant that it was meant to be. We often need
            to let go of our desire to sculpt our children like we're working with clay, choosing what to add
            and take away with our own vision of the end product in mind. It's kind of a liberating thought,
            knowing that your child will grow into a beautiful, whole adult human, as long as you lovingly tend
            the soil and offer water and step back and let them do their thing.<br /><br />

            So I loved the overlap in these metaphors, and also I love tending to my literal garden as well.
            (Gardening can be so therapeutic!)<br /><br />

            So together let's use the tools of yoga to cultivate: connection, understanding, equanimity, peace,
            and love within ourselves and our children.<br /><br />

            As parents let's cultivate: mindful connection with our emotions and our child's emotions, love for
            our own inner child and healing and growth for past traumas and unhealthy habits, and the wisdom and
            energy to focus on what is truly important and practice "pruning" and letting go of that which no
            longer serves us.<br /><br />

            Let's cultivate children who are empowered, are able to sit with difficult emotions, are able to
            connect with others with love and empathy, and are in tune with their own bodies and spirits.
        </p>
    </div>
    <img class="card-photo" src="../../assets/sprout.jpg" loading="lazy" />
    </div>
</div>