<nav class="top-nav">
    <div class="left-nav">
      <a routerLink="/" aria-label="Back to home page">
        <img src="../../assets/horizontal_logo_50px.svg" alt="Cultivate Yoga MKE logo"/>
      </a>
    </div>
    <button class="menu-control mobile-only" (click)="menuExpanded = !menuExpanded" [class.expanded]="menuExpanded" aria-label="toggle menu">
      <span>Menu</span>
        <i data-feather="menu"></i>
        <i data-feather="x"></i>
    </button>
    <div class="right-nav" [class.expanded]="menuExpanded" (click)="collapseMenu()">
      <a routerLink="/about" routerLinkActive="active">About</a>
      <a routerLink="/offerings" routerLinkActive="active">Offerings</a>
      <a routerLink="/faq" routerLinkActive="active">FAQ</a>
      <a routerLink="/contact" routerLinkActive="active">Contact</a>
    </div>
  </nav>
  