@import '../app.component.scss';

.location-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    // grid-template-columns: repeat(2, minmax(400px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 2em;
    grid-row-gap: 3em; 
}

.location {
    .name {
        font-family: var(--type-sans);
        font-size: 1.5em;
        margin-bottom: .25em;
    }
    .address {
        font-size: 1em;
        margin-bottom: .5em;
    }
}

iframe {
    // max-width: 100%;
    width: 100%;
    min-height: 350px;
    height: auto;
    border: 1px solid var(--clr-forest-500);
    border-radius: 20px;
}

@media (max-width: 900px) {
    .location-grid {
        grid-template-columns: 1fr;
        // grid-template-row; 
    }
}