<header>
    <h1 class="page-header">CONTACT</h1>
</header>

<div class="card">
    <h2 class="card-header">Reach Out</h2>
    <p>Have a suggestion for a class? Want me to teach a yoga class for your students? Looking for a 1:1 class? Feel
        free to leave me a message below!</p>
    <div class="form">

    </div>
</div>

<div class="card">
    <h2 class="card-header">Where to find me</h2>
    <div class="location-grid">
        <div class="location">
            <p class="name">
                Integrative Wellness Yoga and Eastern Bodywork
            </p>
            <p class="address">
                3201 S Howell Ave, Milwaukee, WI 53207
            </p>
            <!-- <iframe
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11674.460584278697!2d-87.9053218!3d42.98638!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x48b85debdf2eb649!2sIntegrative%20Wellness%20Yoga%20and%20Eastern%20Bodywork!5e0!3m2!1sen!2sus!4v1662648450443!5m2!1sen!2sus" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe> -->
        </div>
        <div class="location">
            <p class="name">
                The Heart Revival Center for Yoga & Buddhist Studies
            </p>
            <p class="address">
                3701 S Packard Ave, St Francis, WI 53235
            </p>
            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11676.215262438825!2d-87.8602889!3d42.97714!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x34302e45a4470099!2sThe%20Heart%20Revival%20Center%20for%20Yoga%20%26%20Buddhist%20Studies!5e0!3m2!1sen!2sus!4v1662650885478!5m2!1sen!2sus" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
        </div>
        <div class="location">
            <p class="name">
                Alice's Garden
            </p>
            <p class="address">
                2136 N 21st St, Milwaukee, WI 53205
            </p>
            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11660.731785788039!2d-87.9382099!3d43.0586197!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe5746bb93b7f3122!2sAlice&#39;s%20Garden!5e0!3m2!1sen!2sus!4v1662651022045!5m2!1sen!2sus" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
        </div>
        <div class="location">
            <p class="name">
                Beulah Brinton Community Center
            </p>
            <p class="address">
                2555 S Bay St, Milwaukee, WI 53207
            </p>
            <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11672.161268546748!2d-87.8947449!3d42.9984856!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdae4de19b2671819!2sBeulah%20Brinton%20Community%20Center!5e0!3m2!1sen!2sus!4v1662650965573!5m2!1sen!2sus" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
        </div>
    </div>
    
</div>