<header>
    <h1 class="page-header">CONTACT</h1>
</header>

<div class="card">
    <h2 class="card-header">Let's connect!</h2>
        <p>Are you looking for a yoga teacher for kids, families, or adults? Please reach out and let me know what
            you’re looking for. I would love to offer you or your organization:</p>
        <ul class="contact-list">
            <li>Parent/child yoga classes</li>
            <li>Kids yoga classes</li>
            <li>Family (mixed ages) yoga classes</li>
            <li>Mindfulness and meditation classes (for kids or adults)</li>
            <li>Staff professional development on mindfulness/yoga/meditation (especially for educators)</li>
            <li>Private guidance for kids/families (I am happy to support kids with all needs/abilities)</li>
            <li>Looking for something else? I’m always growing - contact me and let’s talk!</li>
        </ul>

        <p>You can reach me at
            <a class="link" href="mailto:cultivateyogamke@gmail.com">cultivateyogamke@gmail.com</a>
        </p>
    <div class="split">
       
    </div>
    
</div>
