<div class="hero">
    <div class="circle"></div>
    <img class="main-logo" src="../../assets/2 tone - Green.svg" />
    <p class="subhead">Yoga for kids, families, and adults. Together, let's grow!</p>
</div>

<div class="card">
    <h2 class="card-header">Upcoming Events</h2>
    <ng-container *ngFor="let class of upcomingEvents">
        <div class="event-grid">
            <div class="text-circle" ngClass="{{class.details.color}}">
                <p class="date">{{class.date | date:'M.dd'}}</p>
            </div>
            <p class="name">{{class.details.name}}</p>
            <p class="time"><strong>{{class.details.time}}</strong> @ {{class.details.location}}</p>
            <button *ngIf="class.details.signUp" class="btn secondary sign-up" (click)="calendly(class)">SIGN UP</button>
            <a href="{{class.details.url}}" *ngIf="!class.details.signUp" class="link sign-up" target="_blank">LEARN MORE</a>
        </div>
    </ng-container>
</div>
