<div class="hero">
    <div class="circle"></div>
    <img class="main-logo" src="../../assets/2 tone - Green.svg" />
    <!-- <img class="main-logo" src="../../assets/Green.svg"/> -->
    <p class="subhead">Yoga for kids, families, and adults. Together, let's grow!</p>
</div>

<div class="card">
    <h2 class="card-header">Upcoming Events</h2>
    <ng-container *ngFor="let class of sortedClasses">
        <div class="event-grid">
            <div class="text-circle" ngClass="{{class.style}}">
                <p class="date">{{class.classDate | date:'M.dd'}}</p>
            </div>
            <p class="name">{{class.className}}</p>
            <p class="time"><strong>{{class.classTime}}</strong> @ {{class.location}}</p>
            <!-- <a class="book-link" href="">SIGN UP</a> -->
            <button *ngIf="class.signUp" class="secondary sign-up">SIGN UP</button>
            <a href="" *ngIf="!class.signUp" class="link sign-up">LEARN MORE</a>
        </div>
    </ng-container>
</div>