@import '../app.component.scss';

.hero {
    position: relative;
    width: 100%;
    text-align: center;
    margin: 2em 0 2.25em 0;

    .main-logo {
        max-width: 300px;
        margin-bottom: 1em;
        padding: 0 1em 1em 0;
        z-index: 3;
        border-bottom: 1px solid var(--clr-forest-500);
    }
    hr {
        width: 50%;
        background-color: var(--clr-forest-500);
    }

    .subhead {
        font-family: var(--type-sans);
        font-size: 1.25em;
        color: var(--clr-forest-500);
        font-weight: 300;
        margin: 0 auto;
        padding: 0 1em;
        z-index: 3;
        line-height: 1.5;
    }
}

.events-card {
    .button-bar {
        text-align: center;
    }
}

.card-header {
    max-width: 500px;
    margin-bottom: 1em;
}

.event-grid {
    display: grid;
    grid-template-columns: 75px 2fr 2fr 1fr max-content;
    grid-template-rows: repeat(auto-fit, 1fr);
    column-gap: 1em;
    row-gap: 0;
    align-items: center;

    &:not(:last-of-type) {
        padding-bottom: 1em;
        border-bottom: 1px solid var(--clr-forest-300);
        margin-bottom: 1em;
    }

    .description {
        font-family: var(--type-slab);
        row-gap: 1em;
        grid-column-start: 2;
        grid-column-end: end;
        white-space: pre-line;
    }

    .name {
        font-size: 1.75em;
        font-family: var(--type-sans);
        color: var(--clr-forest-500);
        font-weight: 300;
        margin: 0;
    }
    .ages {
        font-size: 1em;
        margin-top: 3px;
    }
    .price {
        font-family: var(--type-sans);
        font-size: 1em;
    }

    .time {
        font-family: var(--type-sans);
        font-size: 1em;
    }

    .text-circle {
        height: 75px;
        width: 75px;
        min-width: 75px;
        background-color: var(--clr-forest-500);
        border-radius: 50%;
        margin-right: 1em;

        p {
            width: 100%;
            color: var(--clr-white);
            line-height: 75px;
            text-align: center;
            vertical-align: middle;
            font-family: var(--type-sans);
            font-weight: 200;
            font-size: 26px;
        }

        &.green {
            background-color: var(--clr-forest-500);
        }

        &.orange {
            background-color: var(--clr-orange-500);
        }

        &.gold {
            background-color: var(--clr-gold-500);
        }
        &.mint {
            background-color: var(--clr-mint-500);
            p {color: var(--clr-forest-500);}
        }
    }
    .sign-up {
        min-width: 125px;
        text-align: center;
        color: var(--clr-forest-500);
        font-family: var(--type-sans);
    }
    .expand-button {
        grid-column: 1/-1;
        text-align: center;
        img {
            transition: rotate 300ms ease-in;
            vertical-align: text-bottom;
            height: 20px;
            width: 20px;
        }
    }

    &.expanded {
        row-gap: 1em;
        transition: all 300ms ease;
        .expand-button img {
            rotate: 180deg;
        }
    }

}

.link {
    font-family: var(--type-sans);
    color: var(--clr-forest-500);
    font-size: 1em;
    text-underline-offset: 3px;
    text-decoration-thickness: 2px;
}

@media (max-width: 750px) {
    .event-grid {
        grid-template-areas: "one two four"
            "one three four";
        grid-template-rows: repeat(auto-fit, 1fr);
        grid-template-columns: 75px 3fr max-content;

        .text-circle {
            grid-area: one;
        }

        .class-title {
            grid-area: two;
            margin-bottom: 10px;
        }

        .time {
            grid-area: three;
        }

        .sign-up {
            grid-area: four;
            min-width: 0;
        }
    }
}

@media (max-width: 500px) {
    .card .card-header {
        margin-bottom: 1em;
    }
    .event-grid {
        grid-template-areas: "one two"
            "one three"
            "one four"
            "one five"
            "one six"
            "one seven";
        grid-template-rows: minmax(70px, 1fr) auto;
        grid-template-columns: 70px auto;
        row-gap: 1em;
        align-items: start;
        &:not(:last-of-type) {
            padding-bottom: 1.5em;
            margin-bottom: 1.5em;
        }

        .event {
            flex-wrap: wrap;
            gap: 1em 0;
            justify-content: center;
    
            .event-details {
                display: block;
                gap: 0;
                margin: 0;
            }
        }

        .text-circle {
            grid-area: one;
            height: 70px;
            width: 70px;
            min-width: 70px;
            p {
                font-size: 24px;
                line-height: 70px;
            }
        }

        .class-title {
            grid-area: two;
            h3, p {
                white-space: normal;
            }
        }

        .time {
            grid-area: three;
        }
        .price {
            grid-area: four;
        }

        .sign-up{
            grid-area: five;
            width: 100%;
            text-align: left;
        }
        .description {
            grid-area: six;
        }
        .expand-button {
            grid-area: seven;
            text-align: left;
            margin-left: -15px;
        }

    }
}