<header>
    <h1 class="page-header">CURRENT OFFERINGS</h1>
</header>

<div class="card" *ngFor="let class of currentClasses | filterClasses" [ngClass]="class.color">
    <h2 class="card-header">{{class.name}} <span class="ages">(ages: {{class.ages}})</span></h2>
    <div class="card-content">
        <p class="description">{{class.description}}</p>
        <img class="card-photo" src="{{class.picture}}" loading="lazy" alt="{{class.altText}}"/>
        <div class="details">
            <ul *ngIf="!class.comingSoon">
                <li>
                    <i data-feather="clock"></i>
                    <p>{{class.occurance}} @ {{ timeCheck(class.time) | date: 'h:mm a'}}
                    </p>
                </li>
                <li>
                    <i data-feather="dollar-sign"></i>
                    <p>{{class.price}}</p>
                </li>
                <li>
                    <i data-feather="map-pin"></i>
                    <p>{{class.location}}</p>
                    <a class="address" href="{{class.addressUrl}}" target="_blank">{{class.address}}</a>
                </li>
            </ul>
            <p *ngIf="class.comingSoon" class="coming-soon">
                New classes coming soon. Stay tuned!
            </p>
            <!-- <button class="btn primary" (click)="calendly(class)" *ngIf="class.signUp">
                SIGN UP
            </button>
            <a class="btn primary" href="{{class.url}}" target="_blank" *ngIf="!class.signUp && class.url!= '' ">
                SIGN UP
            </a> -->
            <a class="btn primary" href="{{class.url}}" target="_blank" *ngIf="class.signUp">
                SIGN UP
            </a>
        </div>
    </div>
</div>