<header>
    <h1 class="page-header">CLASSES</h1>
</header>

<div class="card" *ngFor="let class of currentClasses" [ngClass]="class.color">
    <h2 class="card-header">{{class.name}}</h2>
    <div class="card-content">
        <p class="description">{{class.description}}</p>
        <img class="card-photo" src="{{class.picture}}" loading="lazy" />
        <div class="details">
            <ul>
                <li>
                    <i data-feather="clock"></i>
                    <span>{{class.time}}</span>
                </li>
                <li>
                    <i data-feather="dollar-sign"></i>
                    <span>{{class.price}}</span>
                </li>
                <li>
                    <i data-feather="map-pin"></i>
                    <span>{{class.location}}</span>
                    <a class="address" href="{{class.url}}" target="_blank">{{class.address}}</a>
                </li>
            </ul>
            <button class="btn primary" (click)="calendly(class)" *ngIf="class.signUp">
                SIGN UP
            </button>
            <a class="btn primary" href="{{class.url}}" target="_blank" *ngIf="!class.signUp">
                SIGN UP
            </a>
        </div>
    </div>
</div>